[Desktop Entry]
Name=Install <Your Distro Name Here>
Type=Application
Comment=Install <Your Distro Name Here> onto your system
Exec=pkexec env DISPLAY=":0" XAUTHORITY="/home/<name-of-live-user>/.Xauthority" osinstallgui
Icon=</path/to/your/distro/logo>
Terminal=false
Categories=System;Utility
Path=
StartupNotify=false
